# task 7

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3=set1.difference(set2)
set3

{1, 2, 3}

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3=set1.symmetric_difference(set2)
set3

{1, 2, 3, 6, 7, 8}

# Task 8

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1.intersection(set2)
set4 = set1.union(set2)
set5 = set1.symmetric_difference_update(set2)
set6 = set1.intersection_update(set2)
set7 = set1.issubset(set2)
print(set3,set4,set5,set6,set7,sep=" \n\n")

{4, 5}

{1, 2, 3, 4, 5, 6, 7, 8}

None

None

True

#TASK10

In [ ]:
n=int(input())
for i in range(0,n):
  if (i==7):
    continue
  print(i)

10

In [ ]:
count=10
while count>0:
  print(count)
  count=count-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
sets={1,2,3,4,5,6,7,8,9,"vardhaman","kaleem"}
for i in sets:
  print(i)

1
2
3
4
5
6
7
8
9
kaleem
vardhaman

In [ ]:
dict1={"name":"kaleem","friend":"vardhaman","age":21,"height":6.0 }
for i in dict1:
  print(i)

name
friend
age
height

In [ ]:
tuple1=(1, 22 , 33 , 44 ,55 ,66, 77 , 88, 99)
for i in tuple1:
  print(i,end=" ")

1 22 33 44 55 66 77 88 99