# Task 5

In [3]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [6]:
dict1["april_batch"]["student"]["name"]="kaleem"
dict1

{'april_batch': {'student': {'name': 'kaleem',
   'marks': {'python': 80, 'maths': 70}}}}

In [31]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]["ML"]=80
d2=dict1["april_batch"]["student"]["marks"]["DL"]=80
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}